<mat-toolbar color="primary">

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="example-spacer"></span>

  <nav>
    <button mat-flat-button class="menu-button" (click)="navigateToHomePage()">Головна</button>

    <button mat-flat-button class="menu-button" (click)="navigateToQuestions()">Питання</button>

    <button mat-flat-button class="menu-button" (click)="navigateToRules()">Правила</button>
  </nav>
</mat-toolbar>