/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-page-width {
    max-width: 80%; /* Adjust the value to set the desired width */
    margin: 0 auto; /* Center the content horizontally if needed */
  }
